{% extends 'layout.html' %}

{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Forgot Password</h1>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-danger" role="alert">{{ messages[0] }}</p>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('forgot_password') }}">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}
