{% extends 'layout.html' %}

{% block title %}Recipe details{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Recipe Details</h1>
        <hr>
        {% if recipe %}
        <h3>{{ recipe.title }}</h3>
        {% if recipe.image_address %}
            <img src="{{ recipe.image_address }}" alt="Recipe Image" class="img-thumbnail" width="250" height="250">
        {% endif %}
        <h5>Ingredients:</h5>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        <h5>Instructions:</h5>
        <p>{{ recipe.instructions }}</p>
        
        <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn btn-primary">Edit Recipe</a>
        
        <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="post" class="d-inline">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete Recipe</button>
        </form>
        
        {% else %}
        <p>Recipe not found</p>
        {% endif %}
        <hr>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Recipes</a>
    </div>
{% endblock %}
