{% extends 'layout.html' %}

{% block title %}Unauthorized access{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Unauthorized Access</h5>
          <p class="card-text">You need to log in to access this page.</p>
          <a href="{{ url_for('login') }}" class="btn btn-primary">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
